html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
   font-family: 'klavika_lightplain', sans-serif; font-size: 16px;
  /* The html and body elements cannot have any padding or margin. */
}

#fondo{
   background-image: url("../../images/pagina/fondo.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: contain;
   background-color: #FE5717;
}

.titular{
  color: #FE5717;
  background-color: #000000;
  opacity: 0.7;
  height: 100px;
}

body>.container {
    padding: 60px 15px 100px 15px;
}

.footer{
  font-size: 12px;
  background-color: #000000;
  color: #ffffff;
  height: 70px;
  padding: 20px;

  position: absolute;
  bottom: 0;
  width: 100%
}

.footer p {
  margin: 0px !important;
  padding: 0px !important;
}

/* FLASH DATA */
#flash_data{
  margin-top: 50px;
}

/* IMAGENES */


/* COLORES */
.blanco{color: #ffffff;}
.gris{color: #67686B;}
.verde{color: green;}
.rojo{color: red;}


/* GALERIA DE PRODUCTOS */
.bloque{
  background-color: #000000;
}


