html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
   font-family: 'klavika_lightplain', sans-serif; font-size: 16px;
  /* The html and body elements cannot have any padding or margin. */
}

#fondo{
   background-image: url("../../images/pagina/fondo.jpg");
   background-position: center center;
   width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

body>.container {
    padding: 60px 15px 100px 15px;
}

section {
  margin-bottom: 150px;
}

.footer{
  font-size: 12px;
  background-color: #000000;
  color: #ffffff;
  height: 90px;
  padding: 20px;
  margin-top: 50px;

  position: absolute;
  bottom: 0;
  width: 100%
}

.footer p {
  margin: 0px !important;
  padding: 0px !important;
}

/* FLASH DATA */
#flash_data{
  margin-top: 50px;
}

/* IMAGENES */
/*.imagen_menu
{
  width: 40px;
  padding: 0px;
}*/

/* COLORES */
.blanco{color: #ffffff;}
.gris{color: #67686B;}
.verde{color: green;}
.rojo{color: #EA1D25;}

.blanco_BG{background-color: #ffffff;}
.gris_BG{background-color: #67686B;}
.verde_BG{background-color: green;}
.rojo_BG{background-color: #EA1D25;}
.transparente_BG{background-color: rgba(0, 0, 0, 0.5);}

/*CAROUSEL SIN SOBRA*/
.carousel-control.left{
  background-image: none
}

.carousel-control.right{
  background-image: none
}

/*LISTA DE CARRITO FORNT*/
.carrito{
  margin-top: 30px
}

/*LISTA DE PRODUCTOS FORNT*/
.productos{
  margin-top: 30px
}

.promociones{
  margin-top: 30px
}

.caja_producto
{
  margin-top: 30px;
  margin-bottom: 30px;
}

/*CONTACTO*/
.fijo {
  position:fixed !important; 
  float: left;
  top: 250px;
}

/* NOTIFICACIONES */
#notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;   
}

/*BOTONES*/
.separar{margin-bottom: 10px;}
.btn-rojo {background-color: #EA1D25; color: #ffffff}
.btn-rojo:hover {background-color: #AC2225; color: #ffffff}
.btn-rojo:focus {background-color: #AC2225; color: #ffffff }

.btn-negro {background-color: #000000; color: #ffffff}
.btn-negro:hover {background-color: #67686B; color: #ffffff}
.btn-negro:focus {background-color: #67686B; color: #ffffff }